---
layout: base
---
{% assign t = site.data.locales[page.lang][page.lang] %}
<div id="header" class="{{ page.header-class }}">
  <a href="https://spdx.org/licenses/GPL-3.0-or-later.html" target="_blank">
  <img alt="license badge" src="https://img.shields.io/badge/license-GPLv3.0-orange">    
  <img alt="status badge" src="https://img.shields.io/badge/phase-research-green">    
  </a>
</div>
<div id="information">
  <ul>
    <li>
      <div class="group row">
        <h2 id="question">{{ t.pagecontent.question }}</h2>
        <br />
        <div class="centered">
            {{ t.pagecontent.what }}
        </div>
        <br />
        <br />
      </div>
    </li>
    <li>
    <div class="group row">
      <div class="button">
        <p>Check out the official <a href="/blog/">blog</a> or head over to the <a href="https://github.com/ProjectFreedomGaming/ProjectFreedom/discussions">discussion</a> forums. A lot of people are helping or have helped along the way to make this project a reality, they deserve my <a href="/pages/thanks">thanks</a>.</p>
        <br />
        <br />
      </div>
    </li>
    <li>
      <div class="group row credits">
        <p>{{ t.pagecontent.foot.code }} {{ t.pagecontent.foot.page }}<br>{{ t.pagecontent.foot.translation }}</p>
      </div>
    </li>
  </ul>
</div>
