---
layout: base
---
{% assign t = site.data.locales[page.lang][page.lang] %}
<div id="header" class="{{ page.header-class }}">
  <a href="https://spdx.org/licenses/GPL-3.0-or-later.html" target="_blank">
  <img alt="license badge" src="https://img.shields.io/badge/license-GPLv3.0-orange">    
  <img alt="status badge" src="https://img.shields.io/badge/phase-research-green">    
  </a>
</div>
<div id="information">
  <ul>
    <li>
      <div class="group row">
        <h2 id="question">{{ t.pagecontent.question }}</h2>
        <br />
        <div class="centered">
            {{ t.pagecontent.what }}
        </div>
      </div>
    </li>
    <li>
      <div class="group row">
        <h2 id="question">{{ t.pagecontent.blog }}</h2>
        <br />
        <ul class="posts">
          {% for post in site.posts limit:3 %}
              <a href="{{ post.url }}" title="{{ post.title }}">
                <h2>
                  {{ post.title }}
                </h2>
                <h3>{{ post.date | date_to_string }}</h3>
              </a>
              <div class="postcontent">{{ post.excerpt }}</div>
              <br/>
          {% endfor %}
          <div class="centered small">
            Click on the title to expand each post.
          </div>
        </ul>
      </div>
    </li>
    <li>
      <div class="group row credits">
        <p>{{ t.pagecontent.foot.code }} {{ t.pagecontent.foot.page }}<br>{{ t.pagecontent.foot.translation }}</p>
      </div>
    </li>
  </ul>
</div>